@mixin font-face($font-name, $font-path, $font-weight, $font-style){
  @font-face {
    font-family: $font-name;
    font-style : $font-style;
    font-weight: $font-weight;
  }
}

@include font-face("Exo", "../../fonts/exo/Exo-Black", 400, normal);


body{
    background-color: $darkblue;
    overflow-x: hidden;
    color: white;
    font-family: Exo, segoe ui, helvetica, arial;
}

#main-container{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
#main-content{
    flex: 1;
    @include margin-top(50px);
}

.error{
    color: red;
}

.button{
    background-color: $purple;
    border: none;
    color: white;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
        transform: scale(1.2);
    }
}


.logo-h1{
    display: none;
}

.active{
   color: $sunset; 
}

.cta{
    text-decoration: none;
    color: $sunset;
    font-weight: bold;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
        text-decoration: none;
        color: $purple;
    }
}

.heading{
    @include margin-left(25px);
}