body{
    background-color: $darkblue;
    overflow-x: hidden;
    color: white;
}

#main-container{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
#main-content{
    flex: 1;
    @include margin-top(50px);
}

.error{
    color: red;
}

.button{
    background-color: rgb(16,29,48);
    background: $gradient;
}


.logo-h1{
    display: none;
}

h1{
    @include fontSize(40px);
    @include padding-left(15px);
}

.active{
   color: $sunset; 
}

.cta{
    text-decoration: none;
    color: $sunset;
    font-weight: bold;
    &:hover{
        text-decoration: none;
        color: $sunset;
    }
}

.items-container{
    overflow-y: scroll;
}