.cart_dropdown{
    z-index: 1;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid;
    color: $darkblue;
    @include padding-left(10px);
    @include padding-right(10px);
    @include margin-top(20px);
}

.added_items{
    max-width: 50%;
    .item_img{
        width: 100px;
    }
}

.cart_container{
    cursor: pointer;
    @include margin-right(20px);
}

.trashcan{
    width: 15px;
}

.quantity_icon{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
        transform: scale(1.2);
    }
}
