.cart_dropdown{
    z-index: 1;
    position: absolute;
    background-color: white;
    border: 1px solid;
    color: $darkblue;
    @include padding-left(10px);
    @include padding-right(10px);
    @include margin-top(20px);
}

.added-items{
    max-width: 50%;
    .item-img{
            max-width: 50px;
    }
}

