.filter-row {
    display: flex;
    flex-direction: column;
}

.filter_icon{
    cursor: pointer;
    @include fontSize(30px);
    @include padding-right(5px);
    &:hover {
        color: $sunset;
    }
}

.sticky_filter{
    position: fixed;
    z-index: 3;
    background-color: rgba($darkblue, 0.5);
    @include margin-right(15px);
}

@media (min-width: $breakpoint-tablet) {
    .sticky_filter {
        top: 75px;
        @include margin-right(15px);
    }
    .filter-row {
        flex-direction: row;
    }
}
