.footer{
    @include margin-bottom(15px);
}

.footer-link{
    color: white;
    @include padding(15px);
    &:hover{
        transform: scale(1.2);
        color: white;
        text-decoration: none;
    }  
}




