.plus_icon{
    cursor: pointer;
    position: absolute;
    right: 15px;
    @include fontSize(30px);
    @include padding-right(5px);
    &:hover{
        color: $sunset;
    }
}

.plus_icon-filter{
    cursor: pointer;
    @include fontSize(30px);
    @include padding-right(5px);
    &:hover{
        color: $sunset;
    }
}


.closed{
    transition: all 0.3s ease-in-out;
    transform: rotate(45deg);
}

.card-body{
    z-index: 3;
    width: 100%;
    background-color: $darkblue;
    color: white;
    @include padding(5px);
    @include margin-top(10px);
}


.masonry-container{
	width: 100%;
    margin: auto;
    max-height: 100vh;
}
.masonry{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;
	width: 100%;
    margin: auto;
}
.column{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	flex-grow: 1;
}
.tile{
    position: relative;
    @include padding(15px);
	.card-img{
        -webkit-box-shadow: 0px 0px 10px -5px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px -5px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px -5px rgba(255,255,255,1);
        width: 100%;
	}
}

.filter-row{
    @include margin-left(15px);
}