.logo{
    width: 30%;
}

.navbar_flex{
    flex-wrap: nowrap;
    @include margin-top(20px);
}


.icon{
    width: 40px;
}

.hamburger_container{
    cursor: pointer;
}

.dropdown_menu{
    z-index: 1;
    position: absolute;
    background-color: white;
    border: 1px solid;
    @include padding-left(5px);
    @include padding-right(5px);
    @include margin-top(20px);

    .dropdown_link{
        text-decoration: none;
        color: $darkblue;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        @include padding(5px);
        &:hover{
            color: $purple;
            transform: scale(1.2);
            text-decoration: none;
        }
    }
}