.logo{
    width: 30%;
}

.navbar_flex{
    flex-wrap: nowrap;
}

.social-nav{
    flex-direction: row;
}
.social-link{
    @include padding(15px);
    .icon{
        width: 50px;
        border-radius: 15%;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover{
            transform: scale(1.2);
            color: white;
        }
    }
}


#basic-navbar-nav{
    background-color: white;
    color: $darkblue;
    border: 1px solid;
    @include padding-left(10px);
    @include padding-right(10px);
}