.plus_icon{
  cursor: pointer;
  position: absolute;
  right: 15px;
  @include fontSize(30px);
  @include padding-right(5px);
  &:hover{
      color: $sunset;
  }
}

.opened{
  @include margin-bottom(10px);
}

.closed{
  transition: all 0.3s ease-in-out;
  transform: rotate(45deg);
}