$teal: #254855;
$sky: #e7f1f4;
$darkblue: #253055;
$rust: #552530;

$gradient{
    background: rgb(16,29,48);
    background: linear-gradient(90deg, rgba(16,29,48,1) 0%, rgba(2,81,148,1) 17%, rgba(166,139,203,1) 28%, rgba(232,146,147,1) 47%, rgba(234,223,155,1) 100%);
}
