$darkblue: #101D30;
$blue: #025194;
$purple: #A68BCB;
$sunset: #E89293;
$yellow: #EADF9B;


$gradient: linear-gradient(90deg, rgba(16,29,48,1) 0%, rgba(2,81,148,1) 17%, rgba(166,139,203,1) 28%, rgba(232,146,147,1) 47%, rgba(234,223,155,1) 100%);

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-l: 1500px;
$breakpoint-desktop-xl: 1920px;

